/coc/*
/configstore/
/dconf/
/enchant/
/evolution/
/gedit/
/gnome-session/
/goa-1.0/
/gtk-3.0/
/heroku/
/ibus/
/nautilus/
/procps/
/pulse/
/update-notifier/
gnome-initial-setup-done
user-dirs.dirs
user-dirs.locale
